.order-history-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.new-orders-link {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
}

.new-orders-link:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
}