.order-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.test-list {
    width: 100%;
}

#cart-subpage-header {
    padding: 0;
    background: linear-gradient(65deg, var(--primary-faded), var(--primary-faded)),
    url("https://imgur.com/PD83N1r.png") no-repeat center center / cover;
} 
