.order-page-container {
    margin-bottom: 1000px;
}

.order-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#orders-btn {
    margin-bottom: 40px;
}