hr {
    margin: 0;
}

.order-card-container {
    margin: 0;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 2px 15px 5px rgb(216, 245, 255);
}

.order-card {
    display: flex;
    flex-direction: row;
    width: 600px;
}

.order-card-image {
    padding: 5px;
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.order-body-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    margin-right: 0;
    width: 100%;
    height: 100%;
}

.order-card-title {
    font-size: 27px;
    margin: 20px 0;
    color: lightblue;
}

.order-select-quantity {
    color: rgb(160, 160, 160);
    font-size: 15px;
    margin: 0;
    margin-top: 40px;
}

.order-price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;
}

.order-card-price {
    padding-right: 10px;
}

.order-card-quantity-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.order-card-quantity-button {
    margin-left: 5px;
    margin-right: 5px;
}

.order-total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#item-count {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
}

#button-minus {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    border: none;
    height: 20px;
}

#button-plus {
    background-color: rgb(12, 174, 0);
    border-radius: 5px;
    border: none;
    height: 20px;
}

@media only screen and (max-width: 700px) { 
    .order-card {
        flex-direction: column;
        width: 300px;
    }

    .order-card-title {
        text-align: left;
        font-size: 25px;
        margin: 0;
    }

    .order-card-image {
        width: 290px;
        height: 230px;
    }

    .order-price-container {
        width: 290px;
    }

    .order-select-quantity {
        margin-top: 15px;
    }

    .order-total-container {
        margin: 0;
        padding: 0 5px;
    }
}