/* #toggle-button {
    background-color: rgb(175, 99, 51);
} */

.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-content-container {
    background: url("https://imgur.com/RsCmqo8.png");
    border-radius: 10px;
    width: 80%;
    height: 70%;
}

.getting-started {
    font-size: 45px;
    color: white;
    margin: 5px;
    margin-top: 40px;
}

.auth-toggle-button {
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.auth-toggle-button:hover {
    background-color: rgba(255, 187, 0, .5);
}

.auth-p {
    color: white;
    margin: 10px;
}