.checkout-totals-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.soap-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.soap-page-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 5px;
    width: 145px;
}

.soap-page-link:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

#checkout-button {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}

#checkout-button:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
}
