#soap-image {
    background-color: rgb(206, 149, 114);
}

#description {
    width: 350px;
    border:rgb(206, 149, 114);
    text-align: center;
    margin: 0 20px 0 20px;
}

.td-desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredients {
    margin: 0 20px 0 20px;
}

.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(lightblue, rgb(206, 149, 114));
}
