.details-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 40px;
}

.back-to-soaps {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.back-to-soaps-link {
    text-decoration: none;
    color: black;
    margin: 0;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

.back-to-soaps-link:hover {
    text-decoration: none;
    color: lightblue;
    border: 2px solid lightblue;
}

/* header */

.details-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.details-header-top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.details-header-soap-image {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    height: 400px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.details-header-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    padding-left: 10px;
    height: 400px;
    background: linear-gradient(90deg, lightblue, white);
}

.details-header-body-title {
    text-align: left;
    font-size: 35px;
    width: 60%;
}

.details-header-body-description {
    text-align: left;
    width: 60%;
}

.details-header-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.details-header-quantity-container {
    display: flex;
    flex-direction: row;
}

.details-header-quantity-title {
    margin: 0;
    padding-right: 5px;
}

.details-header-quantity-button {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}

.details-header-quantity-button:hover {
    background-color: lightblue;
    border: 1px solid lightblue;
}

.details-header-order-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.details-order-price {
    color: green;
    margin: 0;
    padding-right: 10px;
}

.details-order-button {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}

.details-order-button:hover {
    background-color: lightblue;
    border: 1px solid lightblue;
}

.details-ingredients-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 2px rgb(220, 220, 220);
}

.details-ingredients-title {
    font-size: 35px;
}

.details-ingredients-body {
    text-align: left;
    margin: 0;
    margin-top: 10px;

}

.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

.reviews-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.reviews-header-title {
    font-size: 35px;
}

.reviews-header-rating {
    font-size: 18px;
}

.reviews-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 2px rgb(220, 220, 220);
}

.reviews-top-body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%
}

.reviews-top-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.reviews-top-body-name {
    margin: 0;
}

.reviews-top-body-rating {
    font-size: 15px;
}

.reviews-date {
    font-size: 15px;
}

.reviews-body {
    text-align: left;
    padding: 20px;
    width: 100%;
}

@media only screen and (min-width: 1600px) {
    .details-page-container {
        margin: 50px 150px;
    }
}

@media only screen and (max-width: 950px) { 
    .details-header-top-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .details-header-body-container {
        align-items: center;
        background: none;
        background-color: lightblue;
        border-radius: 10px;
    }

    .details-header-body-title {
        text-align: left;
    }

    .details-header-body-description {
        text-align: left;
        margin: 5px;
        padding: 5px;
        font-size: 16px;
    }

    .details-header-bottom-container {
        justify-content: space-evenly;
        align-items: center;
    }

    .details-header-quantity-title {
        text-align: center;
        font-size: 15px;
    }

    .details-header-soap-image {
        border-radius: 10px;
        margin-bottom: 20px;
    }
}