.about-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-subpage-header {
    background: linear-gradient(65deg, var(--primary-faded), var(--primary-faded)),
        url("https://imgur.com/2wyfqFH.png") no-repeat center center / cover;
}

/* --------------------------------
# About Header
-------------------------------- */
.about-header-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
}

.about-header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 4 / 3;
    background: var(--primary-faded);
    width: 60%;
    height: 80%;
    box-shadow: var(--lg-shadow);
}

.about-header-image>img {
    width: 100%;
    height: 100%;
}

.about-header-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: 1 / 2 / 4 / 4;
    background: var(--secondary);
    width: 70%;
    height: 60%;
    box-shadow: var(--md-shadow);
}

.about-header-body>h1 {
    font-size: 35px;
    margin: 0;
    padding: 20px;
    padding-top: 30px;
}

.about-header-body>p {
    font-size: 16px;
    text-align: left;
    margin: 0;
    padding: 20px;
    padding-top: 0;
}


/* --------------------------------
# About Main
-------------------------------- */
.about-sections {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 90%;
}

.about-sections-images {
    width: 35%;
}

.about-sections-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-left: 2px solid var(--secondary);
    margin: 10px;
}

.about-sections-body>h1 {
    font-size: 35px;
    margin: 0;
    padding-left: 10px;
}

.about-sections-body>p {
    width: 100%;
    text-align: left;
    padding-left: 10px;

}

#about-second-section {
    flex-direction: row-reverse;
    margin-bottom: 100px;
}

#about-second-body {
    margin-left: 0;
}

@media only screen and (max-width: 600px) {
    .about-header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-header-image {
        width: 90%
    }

    .about-header-body {
        margin-top: -25px;
    }

    .about-sections,
    #about-second-section {
        flex-direction: column;
    }

    .about-sections-images {
        width: 90%;
    }

    .about-sections-body {
        align-items: center;
        border: none;
        border-top: 2px solid var(--secondary);
    }

    .about-sections-body>h1 {
        text-align: left;
        padding: 0;
        width: 90%;
    }

    .about-sections-body>p {
        text-align: left;
        padding-left: 2px;
        width: 90%;
    }
}