.about-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --------------------------------
# About Header
-------------------------------- */
.about-header-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    width: 90%;
    height: 70vh;
    padding: 25px 0;
}

#about-subpage-header {
    background: linear-gradient(65deg, var(--primary-faded), var(--primary-faded)),
        url("https://imgur.com/2wyfqFH.png") no-repeat center center / cover;
}

.about-header-top {
    grid-area: 1 / 2 / 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    background-color: var(--secondary);
}

.about-header-bottom {
    grid-area: 2 / 3 / 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    background-color: var(--primary);
}

.about-header-title {
    font-size: 35px;
    color: white;
    padding-bottom: 30px;
}

.about-header-body {
    font-size: 24px;
    color: var(--secondary);
    padding: 30px;
}

/* --------------------------------
# About Main
-------------------------------- */
.about-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background: url("https://imgur.com/Kfwp1WE.png"); */
}

.about-main-top-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
    margin-bottom: 50px;
    width: 70%;
    height: 350px;
}

.about-main-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-bottom: 100px;
    width: 70%;
    height: 350px;
}

.about-main-images {
    width: 400px;
    height: 350px;
    margin: 10px;
    border-radius: 5px;
}

.about-main-top-body {
    text-align: left;
    margin: 10px 10px 10px 0;
    padding: 0;
    padding-left: 20px;
    height: 350px;
}

.about-main-bottom-body {
    text-align: left;
    margin: 10px 0 10px 10px;
    padding: 0;
    padding-right: 20px;
    height: 350px;
}

.about-main-body-titles {
    font-size: 30px;
    text-align: left;
    margin-top: 10px;
}

.about-main-body-bodies {
    text-align: left;
    padding-left: 10px;
    border-left: 2px solid var(--secondary);
    font-size: 19px;
}

#image-left {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#image-right {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media only screen and (min-width: 1600px) {
    /* .about-main-top-container {
        width: 75%;        
    }

    .about-main-bottom-container {
        width: 75%;
    } */

    .about-main-body-bodies {
        font-size: 19px;
    }
}


@media only screen and (max-width: 1500px) {
    .about-main-body-bodies {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1200px) {
    .about-main-container {
        margin-bottom: 30px;
        height: 100%;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)),
            url("https://imgur.com/RsCmqo8.png") no-repeat center center / cover;
    }

    .about-main-top-container {
        flex-direction: column;
        align-items: center;
        margin: 10px;
        height: 100%;
    }

    .about-main-bottom-container {
        flex-direction: column-reverse;
        align-items: center;
        margin: 10px;
        height: 100%;
    }

    .about-main-top-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: none;
        padding: 10px;
        width: 100%;
    }

    .about-main-bottom-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: none;
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .about-main-body-titles {
        color: var(--secondary);
        border-bottom: 2px solid white;
        text-shadow: 1px 1px black;
        margin: 0;
    }

    .about-main-body-bodies {
        font-size: 18px;
        border: none;
        text-align: center;
        color: var(--secondary);
        text-shadow: 1px 1px rgb(0, 0, 0);
        font-weight: 1000;
        padding: 0;
    }

    #image-left {
        border-radius: 10px;
        width: 450px;
        height: 330PX;
        margin: 20px;
    }

    #image-right {
        border-radius: 10px;
        width: 450px;
        height: 330PX;
        margin: 20px;
    }

}

@media only screen and (max-width: 600px) {
    .about-main-container {
        height: 180vh;
    }

    .about-main-body-bodies {
        font-size: 16px;
    }

    #image-left {
        border-radius: 10px;
        width: 380px;
        height: 280PX;
        margin: 0 0 40px 0;
    }

    #image-right {
        border-radius: 10px;
        width: 380px;
        height: 280PX;
        margin: 0 0 40px 0;
    }
}