#soap-button {
    background-color: lightblue;
}

#soap-button:hover {
    background-color: lightcyan;
}

#soap-button:active {
    background-color: white;
}

#soap-card {
    width: 18rem;
    margin: 30px;
    background-color: rgb(209, 142, 100);
}

#soap-description {
    text-align: left;
}

#soap-price {
    color: green;
}

.soap-link {
    text-decoration: none;
    color: black;
}
.soap-link:hover {
    color: lightblue;
}

.btn:active {
    background-color: white;
    
}