#soap-card {
    width: 18rem;
}

#soap-description {
    text-align: left;
}

#soap-price {
    color: green;
}

.soap-link {
    text-decoration: none;
    color: black;
}
.soap-link:hover {
    color: lightblue;
}

.btn-sm:active {
    background-color: lightblue;
    
}