nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    z-index: 9999;
    background: url("https://imgur.com/Kfwp1WE.png") no-repeat center center;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    height: 30px;
}

.link:hover {
    color: lightblue;
}

.profile-image {
    width: 30px;
    height: 30px;
    background-color: none;
    z-index: 0;
    pointer-events: none;
}

.dropdown {
    position: relative;

}

.dropdown-menu {
    text-align: left;
    position: absolute;
    top: calc(100% + 1rem);
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    width: 150px;
    padding: 15px;
    padding-left: 0;
    margin: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .dropdown-link+ .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-link {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    margin: 0;
    padding-top: 8px;
}

.dropdown-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin: 0;
    margin-left: 5px;
    padding: 2px;
    border-radius: 5px;
}

.dropdown-content:hover {
    color: white;
    background-color: lightblue;
}


#app-logo-container {
    width: 50px;
    height: 50px;
}

#app-logo {
    position: inherit;
    width: 50px;
    height: 50px;
}




@media only screen and (min-width: 1600px) {
    .dropdown-menu {
        width: 200px;
    }

    .dropdown-content {
        font-size: 28px;
    }

}


@media only screen and (max-width: 1200px) { 
    .dropdown-menu {
        width: 100px;
    }
    
    .dropdown-content {
        font-size: 20px;
    }
}

@media only screen and (max-width: 950px) { 
    .dropdown {
        margin-right: 30px;
    }

    .dropdown-menu {
        width: 80px;
    }
    
    .dropdown-content {
        font-size: 15px;
    }
}