nav {
    display: flex;
    background-color: #23252b;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: lightblue;
}

.cart {
    max-width: 40px;
}