.soap-card-container {
    margin: 40px 20px;
}

.soap-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 400px;
    border-radius: 10px;
}
.soap-card:hover {
    box-shadow: 1px 3px 10px 5px rgba(255, 187, 0, .4);
}

.soap-link {
    text-decoration: none;
}

.soap-card-image {
    width: 250px;
    height: 210px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 18px;
}

.soap-card-title {
    text-align: left;
    margin: 0;
    padding: 0 10px;
    height: 89px;
    color: black;
}

.soap-card-price {
    text-align: left;
    color: green;
    margin: 5px;
    margin-left: 10px;
    height: 30px;
}

.soap-card-button-container {
    width: 100%;
}

.soap-card-button {
    margin-bottom: 10px;
    padding: 5px;
    width: 90%;
    border: none;
    background-color: rgba(255, 187, 0, .8);
    border-radius: 5px;
}

.soap-card-button:hover {
    background-color: rgba(255, 187, 0, .5);
}