.soap-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 40px 20px;
    box-shadow: var(--lg-shadow);
}

.soap-card:hover {
    box-shadow: 1px 3px 10px 5px rgba(255, 187, 0, .1);
}

.soap-link {
    text-decoration: none;
}

.soap-card-image {
    width: 250px;
    height: 200px;
    margin-bottom: 18px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}

.soap-card-title {
    text-align: left;
    margin: 0;
    padding: 0 10px;
    height: 89px;
    color: black;
}

.soap-card-price {
    text-align: left;
    color: green;
    margin: 5px;
    margin-left: 10px;
    height: 30px;
}

.soap-card-button-container {
    width: 100%;
}

.soap-card-button {
    margin-bottom: 10px;
    padding: 5px;
    width: 90%;
    border: none;
    background-color: rgba(255, 187, 0, .8);
    border-radius: 5px;
}

.soap-card-button:hover {
    background-color: rgba(255, 187, 0, .5);
}