
.home-order-soap-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 187, 0), rgba(255, 187, 0, 0)), 
                url("https://imgur.com/zCJ3siV.png");
}

.home-order-left {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    width: 90%;
}

.home-order-image {
    border-radius: 3px;
    margin: 50px;
    width: 100%;
    height: 100%;
    box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.4);
}

.home-order-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 20px;
    width: 100%;
}

.home-order-seasonal {
    font-size: 50px;
    margin: 0;
    color: white;
}

.home-order-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home-order-soap-name {
    font-size: 25px;
    color: white;
    text-decoration: underline;
    margin: 5px 0;
}

.home-order-soap-description {
    font-size: 18px;
    color: white;
    text-align: left;
    margin: 0 0 40px 0;
}

.home-order-button {
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 10px;
}

.home-order-button:hover {
    color: var(--primary);
    border: 2px solid var(--primary);
}

@media only screen and (max-width: 1000px) {
    .home-order-soap-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
    }

    .home-order-right {
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .home-order-left {
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    .home-order-body-container {
        margin: 0 40px;
    }

    .home-order-image {
        width: 450px;
        height: 350px;
        margin: 0;
    }
}