.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: url("https://imgur.com/Kfwp1WE.png");
    height: 60px;
}

.footer-titles {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.footer-titles:hover {
    color: lightblue;
}

.footer-help-container {
    display: flex;
}

.footer-about-container {
    display: flex;
}

.footer-ingredients-container {
    display: flex;
}