.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    height: 35vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0)),
                url("https://imgur.com/RsCmqo8.png")  center center;
    z-index: 9999;
    box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.3);
}


/* --------------------------------
# Footer Socials
-------------------------------- */
.footer-contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.footer-contact-container > h1 {
    font-size: 30px;
    color: white;
    margin: 20px 0;
    margin-bottom: 10px;
}

.footer-contact-info {
    color: white;
    margin: 5px 0;

}

.footer-socials-container {
    display: flex;
}

.footer-socials {
    color: white;
    padding: 0 5px;
}



/* --------------------------------
# Footer Links
-------------------------------- */
.footer-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.footer-link-container > h1 {
    font-size: 30px;
    color: white;
    margin: 20px 0;
    margin-bottom: 10px;
}

.footer-links {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 0;
}

.footer-links:hover {
    color: var(--secondary);
}

.footer-help-container {
    display: flex;
}

.footer-about-container {
    display: flex;
}

.footer-ingredients-container {
    display: flex;
}