.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 60px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0)),
                url("https://imgur.com/yzzClGm.png")  center center;
    z-index: 9999;
}

.footer-titles {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.footer-titles:hover {
    color: var(--secondary);
}

.footer-help-container {
    display: flex;
}

.footer-about-container {
    display: flex;
}

.footer-ingredients-container {
    display: flex;
}