.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 15px 22px;
}

.category-header {
  color: black;
  font-size: 35px;
  margin-bottom: 25px;
}

.category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}

.category button:hover:not(.active) {
  cursor: pointer;
  color: var(--secondary);
  text-decoration: underline;
}

.category button.active {
  color: var(--secondary);
}

#category-button {
  border: none;
  background-color: white;
  font-size: 24px;
  padding: 10px 0;
  padding-right: 25px;
}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 600px) {}