.form-title {
    color: var(--secondary);
    text-shadow: 1px 1px darkblue;
}

.signup-button {
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.signup-button:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

#sign-up {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#sign-up > p {
    color: white;
    margin: 0;
    margin-top: 20px;
}

#sign-up > p > span {
    text-decoration: underline;
}

#signup-label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}