.category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
  }
  
  .category div {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
  }
      
  .category div:hover:not(.active) {
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
  }
  
  .category div.active {
    color: var(--text-dark);
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
  }

.Cat {
  display: flex;
  flex-direction: row;
  margin: 10px
}