.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
  }
  
  .category div {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
  }
      
  .category div:hover:not(.active) {
    cursor: pointer;
    background-color: black;
    color: var(--white);
  }
  
  .category div.active {
    color: var(--text-dark);
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
  }

  .category-button {

  }

  .category-header {
    font-size: 35px;
  }