:root {
  --white: #FFFFFF;
  --button: rgb(207, 243, 255);
  --primary: rgba(0, 50, 158, 0.9);
  --secondary: rgba(255, 187, 0);
  --third: rgb(106, 187, 214);
  --shadow: rgba(255, 187, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* @media only screen and (min-width: 1600px) {

}

@media only screen and (max-width: 1200px) { 
    
} */