:root {
  --white: #FFFFFF;
  --button: rgb(207, 243, 255);
  --primary: rgba(0, 50, 158, 1);
  --secondary: rgba(255, 187, 0);
  --primary-faded: rgba(0, 50, 158, 0.7);
  --secondary-faded: rgba(255, 187, 0, 0.6);

  --third: rgb(106, 187, 214);
  --shadow: rgba(255, 187, 0, 0.5);
}

html {
  scroll-behavior: smooth;
  animation: pageload .5s;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: 100vh;
}

.subpage-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 45vh;
  width: 100%;
  background: linear-gradient(65deg, var(--primary-faded), var(--primary-faded)),
    url("https://imgur.com/aRsYE9f.png") no-repeat center center / cover;
}

.subpage-header-title {
  font-size: 45px;
  color: var(--secondary);
  margin: 0;
  margin-bottom: 70px;
  padding-left: 160px;
}

.subpage-header-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 53px;
  margin-bottom: 70px;
  padding-right: 160px;
}

.subpage-header-link-item {
  color: white;
  text-decoration: none;
  padding: 0 5px;
}

#home-link:hover {
  color: var(--secondary);
}

#special-character {
  color: var(--secondary);
}


@keyframes pageload {
  from {
    opacity: 0;
    transform: rotateX(-7deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@media only screen and (max-width: 600px) {
  .subpage-header {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 45vh;
    width: 100%;
    background: linear-gradient(65deg, var(--primary-faded), var(--primary-faded)),
      url("https://imgur.com/aRsYE9f.png") no-repeat center center / cover;
  }

  .subpage-header-title {
    font-size: 35px;
    padding: 0;
    margin: 0;
  }

  .subpage-header-link-container {
    padding: 0;
  }
}