body {
    display: block;
    background-color: white;
}

hr {
  color: rgb(175, 99, 51)
}

.home-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    width: 100%;
}

.home-header-image-container {
    grid-area: 1 / 1 / 2 / 2;  
}

.home-header-image {
    width: 100%;
}

.home-header-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-area: 1 / 2 / 2 / 3;
    background: linear-gradient(90deg, lightblue, white);
}

.home-header-body {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.home-order-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    width: 100%;
    height: 700px;
    background: url("https://imgur.com/Kfwp1WE.png");
}

.home-order-image-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-order-image-subcontainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home-order-image-titles {
    position: absolute;
    color: var(--secondary);
    margin-bottom: 30px;
    padding: 5px;
    width: 350px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: 1px 1px black;
    background: linear-gradient(0deg, lightblue, rgb(255, 255, 255, 0%));
}

.home-order-images {
    margin: 30px;
    width: 350px;
    height: 300px;
    border-radius: 10px;
}

.home-order-body-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 2 / 3 / 3;
    margin-top: 10PX;
    margin-bottom: 10PX;
    border-radius: 20px;
}

.home-order-body-title {
    font-size: 50px;
    text-shadow: 1px 1px lightblue;
}

.home-order-body {
    font-size: 25px;
    padding: 10px;
    text-shadow: 1px 1px lightblue;
}


.home-feature-title {
    text-align: left;
    font-size: 50px;
    text-shadow: 1px 2px lightblue;
    margin: 10px;
}

.home-feature-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
}

.home-feature-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
}

.home-feature-links:hover {
    transform: scale(1.025);
    transition: 0.4s;
}

.home-feature-image-titles {
    position: absolute;
    text-align: left;
    color: var(--secondary);
    font-size: 35px;
    padding: 10px;
    padding-left: 15px;
    width: 300px;
    text-shadow: 1px 1px black;
}

.home-feature-images {
    border: 2px solid white;
    width: 100%;
    height: 100%;
}

#left-order-container {
    grid-area: 1 / 1 / 3 / 2;
}

#right-order-container {
    grid-area: 1 / 3 / 3 / 4;
}

#link-1 {
    grid-area: 1 / 1 / 3 / 3;
}

#link-2 {
    grid-area: 1 / 3 / 2 / 4;
}

#link-3 {
    grid-area: 1 / 4 / 2 / 5;
}

#link-4 {
    grid-area: 2 / 3 / 3 / 4;
}

#link-5 {
    grid-area: 2 / 4 / 3 / 5;
}

#home-feature-image-titles-lrg {
    width: 400px;
    font-size: 45px;
}


#home-order-button {
    width: 200px;
    border-radius: 10px;
    background-color: rgb(207, 243, 255);
}

#home-order-button:hover {
    border-radius: 10px;
    background-color: lightblue;
}

#home-header-body-title {
    font-size: 50px;    
}

#home-header-body-subtitle {
    font-size: 30px;
}

#home-header-body-body {
    font-size: 20px;
}

@media only screen and (min-width: 1600px) {

}

@media only screen and (max-width: 1200px) {
    .home-feature-image-titles {
        font-size: 25px;
    }

    .home-order-images {
        width: 300px;
        height: 250px; 
    }

    .home-order-image-titles {
        width: 300px;
    }

    #home-order-button {
        width: 150px;
        font-size: 20px;
    }

}

@media only screen and (max-width: 1000px) {
    .home-header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-header-image-container {
        width: 100%;
    }

    .home-header-image {
        height: 500px;
    }

    .home-header-body-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: none;
        /* background: radial-gradient(rgba(173, 216, 230, 0.642), rgb(255, 255, 255, 0%)); */
    }

    .home-header-body {
        text-align: center;
        text-shadow: 1px 2px lightblue;
        width: 100%;
    }

    .home-order-images {
        width: 250px;
        height: 200px; 
    }

    .home-order-image-titles {
        width: 250px;
    }

    .home-order-body-title {
        font-size: 35px;
    }

    .home-order-body {
        font-size: 20px;
    }

    .home-feature-image-titles {
        font-size: 20px;
    }

    #home-feature-image-titles-lrg {
        font-size: 35px;
    }

    #home-header-body-title {
        font-size: 35px;
    }

    #home-header-body-subtitle {
        font-size: 25px;
    }

    #home-header-body-body {
        font-size: 20px;
    }
}


@media only screen and (max-width: 800px) {
    .home-order-container {
        height: 600px;
    }
    
    .home-order-images {
        display: none;
    }
    
    .home-order-image-titles {
        display: none;
    }
    
    .home-order-body-title {
        font-size: 45px;
    }
    
    .home-order-body {
        font-size: 20px;
    }
    
    .home-feature-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-feature-title {
        text-align: center;
    }

    .home-feature-images {
        width: 400px;
        height: 300px;
    }

    .home-feature-image-titles {
        text-align: center;
        font-size: 30px;
        width: 400px;
    }

    #home-feature-image-titles-lrg {
        font-size: 30px;
    }
}