body {
    display: block;
    background-color: white;
}

hr {
    color: rgb(175, 99, 51)
}

.divider {
    width: 100%;
    height: 20px;
    background: url("https://imgur.com/RsCmqo8.png") center center;
}

/* --------------------------------
# Home Header
-------------------------------- */
.home-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    background: linear-gradient(65deg, var(--primary-faded), var(--primary-faded)),
        url("https://imgur.com/aKLqJ5Q.png");
}

.home-header-title {
    font-size: 7rem;
    color: var(--secondary);
    text-align: center;
    margin: 0;
    padding: 10px;
    padding-bottom: 20px;
}

/* --------------------------------
# Home Hook
-------------------------------- */
.home-hook-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.hook-card {
    width: 25%;
    height: 100%;
    margin: 0 25px;
    margin-top: -30px;
    background-color: var(--secondary);
    box-shadow: 0px 3px 15px 0px #10101013;
}

.hook-card-icon {
    width: 35%;
    margin: -50px;
    padding: 10px;
    border-radius: 50%;
    border: 5px solid var(--secondary);
    background-color: white;
}

.hook-card-header {
    font-size: 30px;
    color: white;
    padding: 50px 0 0 0;
}

.hook-card-body {
    font-size: 16px;
    color: white;
    padding: 0 30px 0 30px;
}

/* --------------------------------
# Home Order
-------------------------------- */
.home-order-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 25px 0;
}

/* --------------------------------
# Home Feature
-------------------------------- */
.home-feature-title {
    text-align: center;
    font-size: 50px;
    color: var(--secondary);
    text-shadow: 1px 1px var(--primary);
    margin: 20px;
}

.home-feature-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 0 100px 0;
}

.home-feature-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    margin: 0 20px;
    width: 25%;
    background-color: var(--secondary);
    transition: transform 0.5s;
}

.home-feature-cards:hover {
    transform: scale(1.025);
}

.home-feature-card-image {
    width: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}

.home-feature-card-title {
    color: white;
    text-decoration: underline;
    margin: 10px 10px 0 10px;
}

.home-feature-card-description {
    color: white;
    text-align: left;
    margin: 10px;
}

.home-feature-card-view {
    color: white;
    margin: 10px;
}

.home-feature-card-view:hover {
    color: var(--primary);
}

@media only screen and (min-width: 1400px) {
    .hook-card {
        width: 20%;
    }
}

@media only screen and (max-width: 600px) {

    /* Header */
    .home-header-title {
        font-size: 3rem;
    }

    /* Hook */
    .home-hook-container {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        justify-items: center;
        margin-bottom: 50px;
    }

    .hook-card {
        width: 90%;
        height: 100%;
        margin: 25px 0;
        background-color: var(--secondary);
        box-shadow: 0px 3px 15px 0px #10101013;
    }

    /* Order */

    .home-order-container {
        height: 85vh;
    }

    /* Feature */
    .home-feature-container {
        flex-direction: column;
        margin-bottom: 25px;
        margin-top: 0;
    }

    .home-feature-cards {
        flex-direction: column;
        margin: 10px 0;
        width: 100%;
    }

}