.ingredients-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}

.ingredients-header-container {
    margin: 50px;
    margin-bottom: 100px;
    border-bottom: 2px solid var(--secondary);
    width: 70%;
}

.ingredients-header-title {
    font-size: 50px;
    margin-bottom: 0;
}

.ingredients-header-subtitle {
    font-size: 18px;
    margin-top: 0;
}

.ingredients-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ingredient-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 25px;
    padding: 10px;
    box-shadow: 1px 1px 15px 3px rgb(207, 207, 207);
    width: 300px;
    height: 300px;
}

.ingredient-card-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.ingredient-card-title {
    text-align: left;
    padding-bottom: 15px;
    margin-bottom: 20px;
    width: 90%;
    border-bottom: 2px solid rgb(173, 173, 173, 40%);
}

.ingredient-card-body {
    text-align: left;
    padding-left: 15px;
    width: 90%;
}

#ingredient-uses {
    font-size: 14px;
    margin-top: 0;
    color: var(--secondary);
}